body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#hasil{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

textarea{
    font-size: large;
    border: 1px solid black;
}

#warna {
    width: 200px;
}